<div class="d-flex justify-content-between mb-2">
  <h4>Leaderboard</h4>
  <button class="btn btn-outline-dark btn-sm" (click)="open()">Upload Run <i class="fas fa-upload"></i></button>
</div>
<div class="table-responsive">
  <table class="table" width="100%">
    <thead>
      <tr>
        <th scope="col">Rank</th>
        <th scope="col">Name</th>
        <th scope="col">Date Uploaded</th>
        <th scope="col">Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let run of runs$ | async; index as i">
        <th scope="row">{{i + 1}}</th>
        <td>{{run.uploader.name}}</td>
        <td>{{run.createdAt | date}}</td>
        <td>{{run.time | timeView}}</td>
      </tr>
    </tbody>
  </table>
</div>
