<div class="container mt-4">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon2" id="loc-search" (keyup)="searchTerm$.next($event.target.value)">
    <div class="input-group-append">
      <span class="input-group-text" id="basic-addon2"><i class="fas fa-search"></i></span>
    </div>
  </div>
  <div class="row">
    <div class="col col-8">
      <h6>Trails</h6>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let route of routes$ | async">
          {{route.name}}
        </li>
      </ul>
    </div>
    <div class="col col-4">
      <h6>Athletes</h6>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let user of users$ | async">
          {{user.name}}
        </li>
      </ul>
    </div>
  </div>
</div>