<div class="row justify-content-between mb-2">
  <h4>Reviews</h4>
  <button class="btn btn-outline-success btn-sm" (click)="open()">Add a Review</button>
</div>
<div class="row">
  <div class="media">
    <img src="..." class="mr-3" alt="...">
    <div class="media-body">
      <h5 class="mt-0">Media heading</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
  </div>
</div>