<table class="table table-borderless table-responsive">
  <tbody>
    <tr>
      <td align="right" scope="row">Distance</td>
      <td>100m</td>
    </tr>
    <tr>
      <td align="right" scope="row">Highest Elevation</td>
      <td>20m</td>
    </tr>
    <tr>
      <td align="right" scope="row">Lowest Elevation</td>
      <td>10m</td>
    </tr>
    <tr>
      <td align="right" scope="row">Elevation Gain</td>
      <td>10m</td>
    </tr>
    <tr>
      <td align="right" scope="row">Avg Grade</td>
      <td>10%</td>
    </tr>
  </tbody>
</table>