<div class="card mb-3 shadow">
  <div class="card-body">
    <div class="d-flex flex-row align-items-center mb-3">
      <img src="https://cdn.iconscout.com/icon/free/png-256/avatar-375-456327.png" class="mr-3" height="50" width="50">
      <div class="d-flex flex-column justify-content-center" >
        <h6 class="mb-0"><span class="font-weight-bold">{{feed.createdBy.name}}</span><span class="text-muted"> {{feed | feedTitle:'title'}}</span></h6>
        <p class="text-muted mb-0">{{feed| feedTitle}} {{feed.createdAt | date}}</p>
      </div>
    </div>
    <ng-container *ngIf="this.feedService.isFeedRun(feed);else routeFeed">
      <p>
        {{feed['comment']}}
      </p>
      <hr>
      <h5 class="font-weight-bold">Time: {{feed['time'] | timeView}}</h5>
      <img src="http://www.outdoorblueprint.com/outdoors-101/plan-a-road-trip-route-with-google-maps/step6.png" height="300" width="100%">
    </ng-container>
    <ng-template  #routeFeed>
      <hr>
      <h5>{{feed['name']}}</h5>
      <img src="https://www.sygic.com/content/7-developers/3-maps-api-services/4-routing-api/directions-route2.gif" height="300" width="100%">
    </ng-template>
  </div>
</div>