<div id="prop-layout">
  <i class="fas fa-times" (click)="exit()" id="exit"></i>
  <div id="path-overview">
    <div>
      <input type="text" class="form-control" placeholder="Basic Route #1" [formControl]="name" (blur)="setRouteName()">
    </div>
    
    <h5>Points</h5>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let point of points$ | async">{{ point | json }}</li>
    </ul>
  </div>
  <div>
    <ofr-chart></ofr-chart>
    <button class="btn btn-success btn-sm" (click)="createRoute()" id="save">SAVE</button>
  </div>
</div>
