#prop-layout {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between; 

  #exit {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px
  }

}