<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card mt-3">
        <div class="card-body d-flex flex-column align-items-center">
          <img src="https://cdn.iconscout.com/icon/free/png-256/avatar-375-456327.png" height="60" width="60">
          <div class="counts d-flex flex-row mt-3">
            <div class="d-flex flex-column align-items-center">
              <span class="col-label">
                Activities
              </span>
              <span>
                20
              </span>
            </div>
            <div class="ml-2 mr-2 d-flex flex-column align-items-center">
              <span class="col-label">
                Followers
              </span>
              <span>
                20
              </span>
            </div>
            <div class="d-flex flex-column align-items-center">
              <span class="col-label">
                Following
              </span>
              <span>
                20
              </span>
            </div>
          </div>
        </div>
      </div>    
    </div>
    <div class="col col-7">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['my-activities']" routerLinkActive="active">My Activities</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['bookmarked-trails']" routerLinkActive="active">Bookmarked Trails</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['created-trails']" routerLinkActive="active">Created Trails</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['following']" routerLinkActive="active">Following</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['followers']" routerLinkActive="active">Followers</a>
            </li>
          </ul>
        </div>
      </nav>
      <router-outlet></router-outlet>
    </div>
    <div class="col">
      <div class="card mt-3">
          <div class="card-body">
            <button class="btn btn-primary btn-block" (click)="createRoute()">Create Route</button>
          </div>
      </div>
    </div>
  </div>
</div>