<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card mt-3">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>    
    </div>
    <div class="col col-8">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['my-activities']" routerLinkActive="active">My Activities</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['bookmarked-trails']" routerLinkActive="active">Bookmarked Trails</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['created-trails']" routerLinkActive="active">Created Trails</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['following']" routerLinkActive="active">Following</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['followers']" routerLinkActive="active">Followers</a>
            </li>
          </ul>
        </div>
      </nav>
      <router-outlet></router-outlet>
    </div>
    <div class="col">
      <div class="card mt-3">
          <div class="card-body">
            <button class="btn btn-primary" (click)="createRoute()">Create Route</button>
          </div>
      </div>
    </div>
  </div>
</div>